body {
    font-family: 'Inter', sans-serif;
  }
  nav a {
    transition: color 0.3s;
  }
  nav a:hover {
    color: #bfdbfe;
  }
  section {
    scroll-margin-top: 80px; /* Отступ для плавной прокрутки */
  }
  nav ul {
    font-size: 18px; /* Поддержка text-lg */
  }